<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/build.css" />
  </head>
  <body class="bg-zinc-800 h-screen flex justify-center">
    <div class="w-[200px] sm:w-[400px] h-screen border-2"></div>
  </body>
</html>
