<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/build.css" />
  </head>
  <body class="bg-slate-950 h-screen flex flex-col items-center gap-5 p-10">
    <% messages.forEach((message) => { %> <%- include('message', { message:
    message }) %> <% }); %>
    <a href="/new" class="text-white">New Message</a>
  </body>
</html>
