<div class="w-3xs md:w-sm text-white flex flex-col gap-2">
  <p>
    <%= message.user %>
    <span class="text-xs text-zinc-500">
      <%= message.added.toLocaleDateString(undefined, { year: "numeric", month:
      "short", day: "numeric"}) %> <%- message.added.toLocaleTimeString("en-US",
      { hour: "2-digit", minute: "2-digit" }) %>
    </span>
  </p>
  <p class="rounded-b-lg rounded-tr-lg bg-zinc-700 p-5 w-fit h-fit">
    <%= message.text %>
  </p>
</div>
